

.video_container{
    display: flex;
    gap: 24px;
}

.content{
    flex: 5;
}

.title{
font-size: 18px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 10px;
color: black;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: black;
}
.buttons{
    display: flex;
    gap: 20px;
    color: black;
}

.button{
    display: flex;
    align-items: center;
    gap:5px;
    cursor: pointer;
}

.recommendation{
    flex: 2;
}

.channel{
    display: flex;
    justify-content: space-between;
}


 .channel_Info {
    display: flex;
    gap: 20px;
 }

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.channel-detail{
    display: flex;
    flex-direction: column;
    color: black;
}

.channel-name{
    font-weight: 500;
}

.channe-counter{
    margin-top: 5px;
    margin-bottom: 20px;
    color: black;
    font-size: 12px;
}

.desubscription{
    font-size: 14px;
}

.subscribe{
    background-color: #cc1a00;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
    height: max-content;
    padding: 10px 20px;
    cursor: pointer;
}

.hr{
    margin: 15px 0px;
  border: 0.5px solid black
}
.video_frame{
    max-height: 720px;
    width: 100%;
    object-fit: cover;
}