
.container{
    margin-top: 10px;
    position: sticky;
    top: 0;
    height: 56px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}
.logo img{
    height: 25px;
}

.input{
    width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.button{
    padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link{
    text-decoration: none;
}